@import url("https://use.fontawesome.com/releases/v5.6.3/css/all.css");
@import "bulma/sass/utilities/initial-variables";
@import "bulma/sass/utilities/functions";

$fullhd: 960px;

$primary: #f25e5e;

$navbar-breakpoint: $tablet;

@import "bulma";

html,
body,
#root {
  height: 100%;
}
